@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
    background-color: aquamarine;

}
.other{
    color: #ffda9e;
    color: #b2e2f2;
    color: #b0f2c2;
}
.container{
    background-color: #ffda9e;
    grid-row-end:auto;
}
.text{
    background-color: #ffda9e;
    
}