@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #9fd5d1;
	--light: #ffda9e;
}


body {
	background: var(--grey);
	overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	overflow: scroll;
}

/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}

/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}

main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head p {
	font-size: 14px;
}

.buttonContact{
    padding: 10px;
    background-color: #b0f2c2;
    border-radius: 50px;
    margin: 0 auto;
}
.buttonContact:hover{
    filter: opacity(0.95);
    transform: scale(1.14);
}

@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
}

.other{

    color: #b2e2f2;
    color: #b0f2c2;
}
.carrito-compras {
    animation-name: Carrito;
    animation-duration: 3s; 
  }
  

@keyframes Carrito{
    0% {
      transform: translateX(0); 
    }
    50% {
      transform: translateX(200px); 
    }
    100% {
      transform: translateX(0);
    }
  }
  